.appWrapper {
  background-color: #262b30;
}
.secondaryColor {
  background-color: #494a50;
}
.neonText {
  color: #fff;
  text-shadow:
    /* White glow */ 0 0 3px rgb(127, 203, 223), 0 0 4px #fff,
    0 0 10px #fff;
}

.wrapper-content {
  background: #494a507c;
  backdrop-filter: saturate(180%) blur(10px);
  padding: 30px;
  border-radius: 20px;
  margin: 20px 0px;
}

.title-content {
  color: white;
}
